# Default ignored files
/../../424_Longest_Repeating_Character_Replacement /.idea/shelf/
/../../424_Longest_Repeating_Character_Replacement /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../424_Longest_Repeating_Character_Replacement /.idea/httpRequests/
# Datasource local storage ignored files
/../../424_Longest_Repeating_Character_Replacement /.idea/dataSources/
/../../424_Longest_Repeating_Character_Replacement /.idea/dataSources.local.xml
