# Default ignored files
/../../438_Find_All_Anagrams_in_a_String /.idea/shelf/
/../../438_Find_All_Anagrams_in_a_String /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../438_Find_All_Anagrams_in_a_String /.idea/httpRequests/
# Datasource local storage ignored files
/../../438_Find_All_Anagrams_in_a_String /.idea/dataSources/
/../../438_Find_All_Anagrams_in_a_String /.idea/dataSources.local.xml
