# Default ignored files
/../../238_Product_of_Array_Except_Self /.idea/shelf/
/../../238_Product_of_Array_Except_Self /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../238_Product_of_Array_Except_Self /.idea/httpRequests/
# Datasource local storage ignored files
/../../238_Product_of_Array_Except_Self /.idea/dataSources/
/../../238_Product_of_Array_Except_Self /.idea/dataSources.local.xml
