# Default ignored files
/../../763_Partition_Labels /.idea/shelf/
/../../763_Partition_Labels /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../763_Partition_Labels /.idea/httpRequests/
# Datasource local storage ignored files
/../../763_Partition_Labels /.idea/dataSources/
/../../763_Partition_Labels /.idea/dataSources.local.xml
