# Default ignored files
/../../652_Find_Duplicate_Subtrees /.idea/shelf/
/../../652_Find_Duplicate_Subtrees /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../652_Find_Duplicate_Subtrees /.idea/httpRequests/
# Datasource local storage ignored files
/../../652_Find_Duplicate_Subtrees /.idea/dataSources/
/../../652_Find_Duplicate_Subtrees /.idea/dataSources.local.xml
